@charset "UTF-8";
/* Variaveis de cores */
:root {
    --cor1: #FFF3df;
    --co2: #FFE8Bf;
    --cor3: #FAC596;
    --cor4: #f68712;
    --cor5: #A64C14;
}
/* Estilos gerais */
body {
    font-family: system-ui,'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    min-height: 100vh; /* Garante que a altura mínima seja 100% da viewport */
}

/* Barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background-color: var(--cor1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; /* Adiciona um padding no fundo da barra lateral */
    box-sizing: border-box; /* Inclui o padding na altura total */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    flex: 1; /* Faz com que a lista ocupe o espaço disponível */
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar a {
    display: block;
    width: 100%;
    text-align: center;
}

.sidebar img {
    width: 24px;
    height: 24px;
    color: #fff;
}

/* Adiciona uma margem superior ao link "Sair" para que ele fique na parte inferior */
.sidebar-footer-link {
    margin-top: auto; /* Empurra o link para o final da barra lateral */
    padding: 10px;
}

/* Conteúdo principal */
.main-content {
    margin-left: 80px; /* Espaço para a barra lateral */
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    align-items: center;
    background-color: var(--co2);
    color: white;
    height: 8em;
    padding: 10px 20px;
}

.logo {
    height: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    color: var(--cor4);
    margin-left: auto; /* Empurra o user-info para o canto direito */
}

.user-photo {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-left: 10px; /* Adiciona uma margem entre o nome e a foto do usuário */
}

header span {
    font-size: 16px;
    font-weight: bold;
    padding-right: 5px;
}


/* Conteúdo principal */
main {
    padding: 20px;
}

/* Estilos para a seção de promoção de funcionário */
.promotion-post {
    position: relative;
    background-color: var(--cor3);
    width: 40%;
    max-width: 1000px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.promotion-image-wrapper {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.promotion-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.promotion-text {
    color: black;
    background: #a64c144f; /* Fundo escuro semi-transparente */
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
}

.promotion-text h2,
.promotion-text h3 {
    margin: 0;
    padding-bottom: 5px;
}

.promotion-text p {
    margin: 5px 0;
}

.promotion-post, .calendar-post {
    display: inline-block;
    vertical-align: top; /* Alinha os elementos pelo topo */
    width: 45%; /* Ajusta a largura para aumentar o espaçamento */
    margin: 2%; /* Aumenta a margem para separar mais os elementos */
}
/* Estilos para a seção de calendário */
.calendar-post {
    position: relative;
    background-color: var(--cor3);
    width: 40%;
    max-width: 1000px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-header h2 {
    margin: 0;
    font-size: 24px;
}

.calendar-header button {
    background-color: var(--cor5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calendar-header button:hover {
    background-color: #0056b3;
}

.calendar {
    width: 100%;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    width: 14.28%;
    height: 100px;
    background-color: white;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: top;
}

.calendar th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.calendar td {
    padding: 5px;
    position: relative;
}

.calendar td .event {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    color: #ff0000;
    background-color: #ffffff;
    padding: 2px 4px;
    border-radius: 4px;
}

/* Conteúdo principal */
.main-content {
    flex: 1; /* Faz com que o conteúdo principal ocupe o espaço disponível */
    margin-left: 80px; /* Espaço para a barra lateral */
    display: flex;
    flex-direction: column;
    padding-bottom: 20px; /* Espaço inferior para evitar sobreposição com o footer */
}

/* Footer */
.footer {
    background-color: var(--cor1); /* Usando a cor primária definida */
    color: var(--cor5); /* Cor de texto contrastante */
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
    width: 100%; /* Garante que o footer ocupe toda a largura */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 5px 0;
    font-size: 14px;
}