@charset "UTF-8";
/* Variaveis de cores */
:root {
    --cor1: #FFF3df;
    --co2: #FFE8Bf;
    --cor3: #FAC596;
    --cor4: #f68712;
    --cor5: #A64C14;
}

div#conteiner {
    margin: 20px auto;
    background-color: var(--cor4);
    width: 40%;
    max-width: 600px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.search-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: var(--cor2);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


/* Estilos adicionados */
.results {
    margin-top: 20px;
}

.result-card {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
}

.result-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.result-card .details {
    display: flex;
    flex-direction: column;
}

.result-card .details p {
    margin: 0;
    font-size: 20px;
}

.result-card .details .name {
    font-weight: bold;
}

/* Estilos da Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    text-align: center;
}

/* Estilos da Tabela */
.modal-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.modal-content table, .modal-content th, .modal-content td {
    border: 1px solid #ddd;
}

.modal-content th, .modal-content td {
    padding: 8px;
    text-align: left;
}

.modal-content th {
    background-color: #f2f2f2;
}

.last-updated {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 1000;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-button {
        width: 100%;
        margin-top: 10px;
        border-left: 1px solid #ccc;
    }

    .result-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .result-card img {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    .result-card .details {
        align-items: flex-start;
    }

    .result-card .details p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .search-input {
        font-size: 16px;
        padding: 8px;
    }

    .search-button {
        font-size: 14px;
        padding: 8px;
    }

    .result-card .details p {
        font-size: 16px;
    }
}

#lastUpdatedContainer {
    position: fixed;
    margin-bottom: 2em;
    bottom: 20px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    padding-bottom: 2px;
    border-radius: 10px;
    z-index: 1000;
}

#lastUpdatedContainer .last-updated {
    font-size: 16px;
    color: white;
}

#lastUpdatedContainer .styled-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#lastUpdatedContainer .styled-button:hover {
    background-color: #45a049;
}

#lastUpdatedContainer .styled-button:active {
    background-color: #3e8e41;
}


.status-concluido {
    color: green;
    font-weight: bold;
}

.status-pendente {
    color: red;
    font-weight: bold;
}
